{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'core/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
    <title>Resume Builder - Education</title>
</head>
<body>
<h3>Education Section</h3>
<main role="main" class="container">
<form action="" method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <input type="submit" value="SUBMIT">
    <button type="submit"><a href="{% url 'resume-builder-sections' %}">Back</a></button>
</form>
</main>
<script src="{% static 'core/bootstrap.min.js' %}"></script>
</body>
</html>
