{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'users/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/main.css' %}">
    <meta charset="UTF-8">
    <title>Resume Builder - SignUp</title>
</head>
<body>
<main role="main" class="container">
<div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2>Register Now</h2>
            <div class="form-container">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                <div>
                    <button type="submit">Sign Up</button>
                </div>
                <div>
                    <small>
                        Already have an account? <a href="{% url 'login' %}">Log In</a>
                    </small>
                </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>
</main>
<script src="{% static 'users/bootstrap.min.js' %}"></script>
</body>
</html>
